* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.5rem, calc(0.2rem + 1vw), 1.5rem);
  line-height: 1.2;
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: black;
}

.body-layout {
  min-height: 100vh;

  display: flex;
}

.left-part {
  flex: 3;
  background-image: url("../media/image/ocean-view.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.right-part {
  flex: 5;
  background-color: rgb(245, 245, 245);
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

  padding-top: 6rem;
}

.padding-left-w62 {
  padding-left: 2.2em;
  width: 62ch;
}

.right-part > .text-layout {
  font-weight: bold;
}

.form-layout {
  background-color: rgb(255, 255, 255);
  margin-top: 2em;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  box-shadow: 0 0.2rem 0.2rem rgb(204, 204, 204);
}

form {
  margin-top: 0.8em;

  display: flex;
  gap: 1em 3em;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;

  font-size: 0.5em;
  width: 20em;

  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}
.form-row > input {
  font-size: inherit;
  height: 2.5em;
  border: thin solid rgb(233, 233, 233);
  background-color: rgb(250, 250, 250);
}

.form-layout > p {
  font-weight: bold;
}

.finish {
  margin-top: 1.5em;
}

button {
  font-size: 0.7em;
  padding: 0.8em 3em;

  border: none;
  border-radius: 0.4em;
  color: white;
  background-color: rgb(64, 116, 64);
  text-shadow: 0 0 0.1em white;
  box-shadow: 0 0.2em 0.2em rgb(199, 199, 199);
}

.already {
  margin-top: 1.5em;
  font-size: 0.7em;
}
.log-in {
  color: rgb(62, 116, 64);
}