* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.5rem, calc(0.2rem + 1vw), 1.5rem);
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: black;
}

.body-layout {
  min-height: 100vh;

  display: flex;
}

.left-part {
  flex: 3;
  background-image: url("../media/image/ocean-view.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.right-part {
  flex: 5;
  background-color: rgb(245, 245, 245);
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

  padding-top: 8rem;
}

.padding-left {
  padding-left: 2.2em;
  width: 62ch;
}

.right-part > .text-layout {
  font-weight: bold;
}

.form-layout {
  background-color: rgb(255, 255, 255);
  margin-top: 2.5em;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  box-shadow: 0 0.2rem 0.2rem rgb(204, 204, 204);
}

form {
  margin-top: 0.8em;

  display: flex;
  gap: 1em 3em;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;

  font-size: 0.5em;
  width: 20em;
}
.form-row > input {
  height: 1.2em;
}

.form-layout > p {
  font-weight: bold;
}