@font-face {
  font-family: "kaushanscript";
  src: url("../media/font/kaushanscript-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.5rem, calc(0.3rem + 1vw), 1.5rem);
  line-height: 1.2;
}

body {
  width: 74%;
  margin: 0 auto;
  background-color: black;
}

.body-layout {
  min-height: 100vh;

  display: flex;
}

.left-part {
  flex: 3;
  background-image: url("../media/image/ocean-view.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.right-part {
  flex: 5;
  background-color: rgb(245, 245, 245);
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

  padding-top: 6rem;
}

.padding-left-w62 {
  padding-left: 2.2em;
  width: 62ch;
}

.right-part > .text-layout {
  font-weight: bold;
}

.form-layout {
  background-color: rgb(255, 255, 255);
  margin-top: 2em;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  box-shadow: 0 0.2rem 0.2rem rgb(204, 204, 204);
}

form {
  --input-border: 0.15em;

  margin-top: 0.8em;

  display: flex;
  gap: 1em 3em;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;

  font-size: 0.5em;
  width: 20em;

  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(112, 112, 112);
}
.form-row > input {
  font-size: 1.3em;
  border: none; /* Use outline */
  outline: var(--input-border) solid rgba(0, 0, 0, 0.055);
  background-color: rgb(253, 253, 253);
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
}

.form-layout > p {
  font-weight: bold;
}

.finish {
  margin-top: 1.5em;
}

button {
  font-size: 0.7em;
  padding: 0.8em 3em;

  border: none;
  border-radius: 0.4em;
  color: white;
  background-color: rgb(64, 116, 64);
  text-shadow: 0 0 0.1em white;
  box-shadow: 0 0.2em 0.2em rgb(199, 199, 199);
  cursor: pointer;
}

.already {
  margin-top: 1.5em;
  font-size: 0.7em;
}
.log-in {
  color: rgb(62, 116, 64);
  cursor: pointer;
}

/* form controls */

input:user-invalid {
  outline: var(--input-border) solid rgb(184, 0, 0);
}
input:focus {
  outline: var(--input-border) solid rgb(0, 80, 184);
  box-shadow: 0.2em 0.2em 0.5em rgb(185, 185, 185);;
}

.title-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8em;
  font-family: "kaushanscript";
  background-color: rgba(255, 255, 255, 0.418);
  font-size: 1.2em;

  margin-top: 6em;
}
.title-layout img{
  height: 2em;
}

.credits {
  position: absolute;
  bottom: 0.5em;
  padding-left: 0.5em;
  margin: 0 auto;

  font-size: 0.7em;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 0.2em black;
}

.credits a {
  color: inherit;
}