* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: black;
}

.body-layout {
  min-height: 100vh;

  display: flex;
}

.left-part {
  flex: 3;
  background-image: url("../media/image/ocean-view.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.right-part {
  flex: 5;
  background-color: rgb(236, 236, 236);
}